.input-container{
    margin-top:70px;
}

.card{
    /* margin-top: -380px;
    margin-left: 700px; */
    /* background-color: rgb(234, 247, 249); */
    /* left: 500px; */
    /* top: -470px; */
    box-shadow: 10px 10px 5px lightblue;
}
.text-container{
    margin-top: 80px;

}

.withdraw_btn{
   margin-top: 50px;
    margin-left: 90px;
}
/* body{
    background-color: aqua;
} */

.card-title{
    text-align: center;
    color:aquamarine;
}

input{
    background-color: aquamarine;
}



.btn-outline-primary, .btn{
  outline-color: teal;
  border-color: teal;
  color: teal;
}
.btn:hover{
  background-color: teal;
  color: #fff;
}
.btn:focus:not(:hover){
  color: teal;
}

.btn-outline-primary:active{
  background-color: teal;
  color: #fff;
}
.btn-outline-primary:focus{
  background-color: teal;
  color: #fff;
}
.btn:active{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn:focus{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
