<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h3 class="card-title">Withdraw</h3>
        <div class="input-container">
          <label for="amount">Enter Money</label>
          <i
            style="margin-left: 90px"
          >₹</i>
          <input
            type="number"
            class="input-icon"
            id="amount"
            name="amount"
            placeholder="0
            "
            style="
                  margin-left: 15px;
              width: 70px;
              border: 0px;
              margin-top: -22px;
              outline: none;
              text-align: right;
            "
            [(ngModel)]="balancewithdraw"
          />
        </div>
        <div class="text-container">
          <span>Send To</span>
          <a style="margin-left: 100px">Acound Detail</a>
        </div>
        <button class="btn btn-outline-primary withdraw_btn" (click)="withdrawMoney()">
          Withdraw Money
        </button>
      </div>
    </div>
  </body>
</html>
