<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="d-flex flex-row-reverse justify-content-between" style="width: 100%; padding-inline: 2rem">
      <img data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" src="assets\growwwupp.gif" class="img-fluid rounded float-end" alt=""
        style="width: 50%; mix-blend-mode: hard-light; margin-bottom: 10px; margin-top: 10px;" />



      <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" class="rounded float-start mb-5 d-flex justify-content-center align-items-center">
        <h1 style="font-size: 4.5rem; font-family: 'Noto Sans', sans-serif; text-shadow: #ccc 3px 3px 3px;">
          Didn't Invest Yet?<br/>
          Invest Now!
        </h1>
      </div>

    </div>

  </div>
  <!-- <div class="Mutualfundname">
          <h1>My Mutual Funds</h1>
          <div class="table">
            <div class="table-header">
              <div class="header-item">Fund Name</div>
              <div class="header-item">Units</div>
              <div class="header-item">Current Price</div>
              <div class="header-item">Total Value</div>
              <div class="header-item">Gain/Loss</div>
            </div>
            <div class="table-body" *ngFor="let detail of detailList">
              <div class="table-row">
                <div class="table-cell">{{ detail.fundHouse }}</div>
                <div class="table-cell">100</div>
                <div class="table-cell">Rs.{{ detail.currentPrice}}</div>
                <div class="table-cell">Rs.</div>
                <div class="table-cell gain">+ Rs. 50000 (20%)</div>
              </div>
            </div>
          </div>
        </div> -->
  <app-allfunds></app-allfunds>
</body>

</html>