<app-navbar></app-navbar>

<div class="d-flex flex-row-reverse justify-content-between" style="width: 100%; padding-inline: 2rem">
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" width="500px"></ng-lottie>
  <div data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" class="rounded float-start mb-5 d-flex justify-content-center align-items-center">
    <h1 style="font-size: 5rem; font-family: 'Noto Sans', sans-serif; text-shadow: #ccc 3px 3px 3px;">
      Didn't Invest Yet?<br />
      Invest Now!
    </h1>

  </div>
</div>

<app-allfunds>

</app-allfunds>
<div class="d-md-flex justify-content-md-end mr-2">
  <button type="button" class="btn btn-outline-primary" (click)="showAllMutualfund()">show all fund</button>
  </div>
<!-- <div *ngIf="showAllfund"> -->
<div *ngIf="showAllfund " class="container-fluid">

  <!-- <h2>Explore Funds</h2> -->


  <h1>All FUNDS </h1>
  <ul class="horizontal-list">

    <li *ngFor="let fund of mutualFunds" [ngClass]="{ 'positive': fund.delta > 0, 'negative': fund.delta < 0 }">

      <button class="explore-button" [routerLink]="'allfundsdetail/' + fund.schemaId">

        {{ fund.schemaName }}

      </button>

      <div class="details" [class.show]="true">

        <p><strong>Fund House:</strong> {{ fund.fundHouse }}</p>

        <p><strong>Category:</strong> {{ fund.schemaCategory }}</p>

        <p><strong>Current Price:</strong> {{ fund.currentPrice }}</p>

        <p><strong>Delta:</strong> <span [class.gain]="fund.delta > 0">{{ fund.delta > 0 ? '+' : '' }}{{ fund.delta
            }}</span></p>

        <button class="view-details" [routerLink]="'allfundsdetail/' + fund.schemaId">View Details</button>

      </div>

    </li>

  </ul>

</div>
<!-- </div> -->
