.form-group{
    width: 60%;
}
.row{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:400px) {
    .row{
        display: flex;
        flex-direction: row-reverse;
    }
}

.ng-invalid{
  border: darkred 2px 2px;
}
.btn-outline-primary, .btn{
  outline-color: teal;
  border-color: teal;
  color: teal;
}
.btn:hover{
  background-color: teal;
  color: #fff;
}
.btn:focus:not(:hover){
  color: teal;
}

.btn-outline-primary:active{
  background-color: teal;
  color: #fff;
}
.btn-outline-primary:focus{
  background-color: teal;
  color: #fff;
}
.btn:active{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn:focus{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
