<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div>
    <h1>Welcome to the Mutual fund</h1>
  </div> -->
    <div class="row" style="width: 100%">
      <!--
      <img src="assets\animation_640_lhto67j9.gif" alt=""
       class=" d-flext flex justify-content-center" style="width: 30rem; padding-inline: 5rem;"> -->

      <div class="col-lg-6 col-md-6">
        <div class="d-flex flex-column justify-content-between">

          <div class="card-body" style="width: 100%">

            <h1 class="card-title text-center mt-3" style="font-size: 2rem">
              Sign Up
            </h1>
            <form
              class="d-flex flex-column justify-content-center align-items-center"
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              >
              <ng-lottie
              *ngIf="innerWidth<=768"
                width="20rem"
                [options]="options"
                (animationCreated)="animationCreated($event)"
              ></ng-lottie>
              <div class="form-group">
                <label for="firstname" class="form-label">Your Firstname</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="firstname"
                  required
                  pattern="{2}"
                  formControlName="firstname"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="lastname" class="form-label">Your Lastname</label>
                <input
                  type="text"
                  class="form-control"
                  required

                  name="name"
                  id="lastname"
                  placeholder="lastname"
                  formControlName="lastname"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="email"
                  id="lastname"
                  placeholder="email"
                  required
                  pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                  (input)="checkAvailability()"
                  formControlName="email"
                />
                <div *ngIf="userAvailable === false" class="text-danger">
                  UserName is already taken
                </div>
                <div *ngIf="userAvailable === true" class="text-success">
                  UserName is available
                </div>
              </div>
              <br />
              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"

                  name="password"
                  id="password"
                  placeholder="password"
                  pattern="[a-zA-Z][123]{8}"
                  required
                  formControlName="password"
                />
              </div>
              <br />

              <div class="form-group">
                <label for="confirm Password" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"

                  id="confirm Password"
                  name="confirm Password"
                  required
                  placeholder="confirm password"
                  formControlName="confirmPassword"

                />
                <div *ngIf="confirmpassword()" class="text-danger">
                  Password do not match
                </div>
                <!-- <div *ngIf="Password != confirm_password" class="text-danger">Password do not match</div> -->
              </div>
              <br />

                <button
                  type="submit"
                  style="width: 60%;"
                  class="btn btn-outline-primary"

                >
                  Submit
                </button>

            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <ng-lottie
        *ngIf="innerWidth>768"
          width="600px"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
    </div>
  </body>
</html>

<!-- <div id="leftHalf"></div>
<div id="form-container">
  <div id="form">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <h1>Signup</h1>
      <br />
      <Span class="error">{{ errorMsg }}</Span> <br /><br />
      <label>Phone Number<span style="color: red">*</span></label> <br />
      <input
        telephone
        type="text"

        name="userPhone"
        placeholder="Enter Phone Number..."
        style="width: 100%"
        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="10"
        minlength="10"
        required
      />
      <br /><br />
      <label>Name<span style="color: red">*</span></label> <br />
      <input
        type="text"
        [(ngModel)]="firstname"
        name="userFirstName"
        placeholder="Enter First Name..."
        autofocus
        required
      />
      &nbsp;
      <input
        type="text"
        [(ngModel)]="lastname"
        name="userLastName"
        placeholder="Enter Last Name..."
        required
      />
      <br /><br />
      <label>UserName<span style="color: red">*</span></label>
      <br />
      <input
        type="text"
        #userName="ngModel"
        [(ngModel)]="userName"
        (keyup)="userNameAvailability($event)"
        name="userName"
        placeholder="Enter User Name..."
        minlength="8"
        autofocus
        required
      />
      <br />
      <div [hidden]="userName.valid || userName.pristine">
        <div [hidden]="!userName.hasError('minlength')">
      <label [hidden]="userName.valid">UserName available</label>
      <label [hidden]="!userName.valid">UserName Not-available</label>
      </div>
      </div>
      <br/>

      <label>Email<span style="color: red">*</span></label> <br />
      <input
        email
        pattern="[a-z|A-Z0-9._%+-]+@[a-z|A-Z0-9.-]+\.[a-z|A-Z]{2,4}$"
        validateEmail="true"
        type="email"
        [(ngModel)]="customer.email"
        name="email"
        placeholder="Enter your Email..."
        style="width: 100%"
        required
      />
      <br /><br />
      <Label>Password<span style="color: red">*</span></Label> <br />
      <input
        type="password"
        #password="ngModel"
        [(ngModel)]="Password"
        name="userPassword"
        placeholder="Enter Password..."
        style="width: 100%"
        minlength="8"
        required
      />
      <div [hidden]="password.valid || password.pristine">
        <div [hidden]="!password.hasError('minlength')">
          Enter atleast 8 character
        </div>
      </div>
      <br /><br />
      <span class="short"
        >With this you agree to our
        <a routerLink="/tandc">Terms & Conditions</a></span
      >
      <br /><br />
      <input
        type="submit"
        [disabled]="form.invalid || !available"
        value="Signup"
      />
      <br /><br />
    </form>
  </div>
</div> -->
