.form-group{
    width: 60%;
}
.row{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:400px) {
    .row{
        display: flex;
        flex-direction: row-reverse;
    }
}

.ng-invalid{
  border: darkred 2px 2px;
}
