@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    }

    .navbar {
    background-color: #343a40;
    }

    .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
    color: #fff;
    margin-right: 1rem;
    }
.navbar-nav .nav-link:hover {
    color: #17a2b8;
    }
.account button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
.account button:hover {
    color: #17a2b8;
    }

.account .material-icons {
    color: #fff;
    font-size: 2rem;
    vertical-align: middle;
    }

.container-fluid {
    margin: 0px;
    max-width: 1400px;
    padding: 0px;
    }

 
@media screen and (min-width: 768px) {
.navbar-expand-md .navbar-nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    }

    .navbar-nav .nav-link {
     margin-right: 0;
    }
   .account {
    order: 2;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}