<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="position-absolute"> -->
    <div class="position-absolute top-50 start-50 translate-middle">
      <div *ngIf="sentSuccess" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <div class="card" style="width: 28rem; height: 20rem">
        <i class="fa-sharp fa-solid fa-lock"></i>
        <div class="card-body">
          <h5 class="card-title text-center" style="font-size: 2rem;color: teal;">
            Forgot Password
          </h5>
          <form class="d-flex flex-column justify-content-center align-items-center"[formGroup]="otpForm">
            <div class="form-group col-10 p-4 ">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control "
                id="email"
                placeholder="Enter Your email!"
                formControlName="email"
                [ngClass]="{ 'is-invalid': otp && form['email'].errors }"
              />
            </div>
            <!-- <br />
            <div class="form-group">
              <label for="otp">Enter Otp</label>
              <input
                type="text"
                class="form-control"
                id="otp"
                placeholder="enter the otp!"
                formControlName="otp"
                [ngClass]="{ 'is-invalid': otp && form['otp'].errors }"
              />
            </div> -->
            <div class="d-grid gap-2 col-8 mx-auto">
              <button
                class="btn btn-success"
                (click)="senOtp()"
                (click)="showUpdate()"
                style="background-color: teal;border-color: teal;outline-color: teal;"
              >
                Send Otp
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <!-- </div> -->
  </body>
</html>
