<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="position-absolute"> -->
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card" style="width: 18rem; height: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Send Otp</h5>
          <form [formGroup]="otpForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Your email!"
                formControlName="email"
                [ngClass]="{ 'is-invalid': otp && form['email'].errors }"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="otp">Enter Otp</label>
              <input
                type="text"
                class="form-control"
                id="otp"
                placeholder="enter the otp!"
                formControlName="otp"
                [ngClass]="{ 'is-invalid': otp && form['otp'].errors }"
              />
            </div>
            <a
            class="btn btn-outline-primary"
            (click)="senOtp()"
            (click)="showUpdate()"
            >Send Otp</a
          >
          </form>

        </div>

      </div>
    </div>
    <!-- </div> -->
  </body>
</html>
