<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
    
</head>

<body>


    <div ng-app="MyApp" ng-controller="MyController">
        <form  [formGroup]="requiredForm" novalidate>
            <div class="form-group">
            <label for="pan" class="form-label">Pan</label>
            <br> -->
            <!-- <input type="text" id="pan" name="pan" [(ngModel)]="pan" required pattern="/^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$"> -->
            <!-- <input class=form-control formControlName="pan1" type="text" id="pan" name="pan"/>
           <div *ngIf="requiredForm.controls['pan1'].invalid && requiredForm.controls['pan1'].touched" class="alert alert-danger">
            <div *ngIf="requiredForm.controls['pan1'].errors.required">Pan is invalid</div>
           </div> -->
            <!-- <span *ngIf="pan === '' " class="error" >please enter your pan number</span>
            <span class="input.ng-invalid.ng-touched" *ngIf="pan !== '' && !pan.match('^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$')" class="error">Pleae enter a valid a pan</span> -->
        <!-- </div>

        <div class="form-group">
        <label for="email" class="form-label">email</label>
        <br>
        <input class="form-control" formControlName="email1" type="email" placeholder="Enter the email"
         id="email"
        name="email">
        <div *ngIf="requiredForm.controls['email1'].invalid && requiredForm.controls['email1'].touched" class="alert alert-danger">
            <div *ngIf="requiredForm.controls['email1'].errors.required">email is required</div>
        </div>
        </div>
        <br>
        <button type="button" class="btn btn-outline-primary" (click)="onCreate()">Create</button>
        </form>
    </div> -->

    
    
    <!-- <div class=" signUp">
        
        
        <div class="container">
    <div class="container-fluid">
        <div class="welcome">
            <h2>Welcome,</h2>
            <h2>
            <span>Dear Investor!</span>
        </h2>
            <p>Let's get started!</p>
        </div>
       
<div ng-app="MyApp" ng-controller="formController">
    <form name="MyForm"  class="signUp1" #signForm="ngForm" name="signForm" 
    ng-submit="MyForm.$valid" novalidate=novalidate>
        <i class="fa-solid fa-user  user_icon"></i>
    
    
    <div class="form-group">
        <label for="pan" class="form-label">PAN</label>
        <input type="text" class="form-control" id="pan" placeholder="Enter pan!" id="textbox" name="pan"
        ng-Model="pan"
        required
        [(ngModel)]="signObj.pan">
        <div *ngIf="isvalid()">Please enter a valid pan</div>
    </div>
   

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email!" name="email"
         [(ngModel)]="signObj.email" 
         required #email="ngModel" email>
         <small class="text-danger" *ngIf="!email.valid && email.touched">Enter valid email</small>
    </div>
    <div class="mt-3 mb-3" >
        <button type="button" class="btn btn-outline-primary" (click)="onCreate()" [disabled]="!signForm.valid"> Create Account</button>
    </div>

</form>
</div>
</div>
</div>
</div> -->

<!-- </body>
</html> -->


