<app-navbar></app-navbar>
    <div class="container">
      <form>
        <div class="c1 mb-3">
          <h2><p>Create a Lumsump amount</p></h2>
        </div>
        <h4 style="margin-top: 2rem"><p>How much do you want to invest?</p></h4>
        <div class="mb-3" style="width: 20rem">
          <label for="disabledTextInput" class="form-label"
            >Investment amount</label
          >
          <input
            type="text"
            id="disabledTextInput"
            class="form-control"
            placeholder="1000"
          />
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              continue
            </label>
          </div>
        </div>
        <div class="c3">
          <input class="btn btn-primary" type="submit" value="Proceed" />
        </div>
      </form>
      <!-- </div> -->
      <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3"></nav>
    </div>
