.container{

    margin-left: 50px;
    
    
    
    
    }
    
    .c1 mb-3, p{
    
    margin-top: 30px;
    
    margin-bottom: 30px;
    
    }
    
    .c3{
    
    margin-bottom: 80px;
    

    
    }