header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #ffffff;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  transition: all 0.3s ease;
  margin-right: 34px;
}
.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-color: aqua;
  border-radius: 5px;
  margin-right: 10px;
}
.search button i {
  height: 18px;
  margin-left: 5px;
  background-color: cadetblue;
}
.search button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.search button:hover {
  background-color: #0056b3;
}
.authonticate {
  display: block;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #adafb2;
  color: #0d0202;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 34px;
}
.authonticate a {
  color: #0d0202;
} /* .authonticate button { padding: 10px 20px; border: none; border-radius: 5px; background-color: #007bff; color: #fff; cursor: pointer; transition: all 0.3s ease; margin-right: 34px;} */
.authonticate button:hover {
  background-color: #84898e;
} /* .registration button { padding: 10px 20px; border: none; border-radius: 5px; background-color: #007bff; color: #fff; cursor: pointer; transition: all 0.3s ease;}.registration button:hover { background-color: #0056b3;} */
main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.description,
.description1 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.description {
  background-color: #2e776c5d;
  border: 1px solid #6016264a;
  border-radius: 10px;
  margin-right: 10px;
  height: 20%;
  margin-top: 14px;
}
.description1 {
  background-color: #856f7b2d;
  border: 1px solid #ccc;
  height: 20%;
  border-radius: 10px;
}
.description h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.description p {
  font-size: 16px;
  margin-bottom: 10px;
}
.image-container {
  width: 400px;
  height: 200px;
  flex: 1;
  float: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  position: relative;
}
.image-container img {
  max-width: 4000%;
  max-height: 100%;
}
.currency-converter {
  position: absolute;
  bottom: 23px;
  right: 10px;
  background-color: #54575a;
  border: 1px solid #84898e;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serifs;
  color: #fff;
}
/* .card {
  width: 164px;
  height: 160px;
  margin-right: 20px;

} */
/* .top-h {
  color: #ed116585;
  margin-left: 100px;
} */
/* .bottom-h {
  color: #0056b3;
  margin-left: 100px;
} */
body{
    background-color: #394867;
}
.cool-card{
  transform: scale(1);
 transition: all 300ms ease-in-out;
}

.cool-card:hover{
  transform: scale(1.12);
  z-index: 500;
  width:  25%;

}
.card{
  transition: all 400ms ease-in-out;
  overflow-block: hidden;
  width: 164px;
  height:160px

}


.cool-card:hover .card{

  background-color: rgba(222, 222, 222, 0.7);
  z-index: 500;
  backdrop-filter: blur(4px);
/* transform: scale(1.12); */
  /* width: 20rem; */
  /* height: 15rem; */
  width: 100%;
}
 .card-title{
  max-width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 400ms ease-in-out;
}
.cool-card:hover .card-title{
  /* white-space: wrap; */
  text-overflow: unset;
 overflow: hidden;
 font-size: medium;
  max-width: 35ch;
  margin-bottom: 4rem;
}

a{
  text-decoration: none;
}
.container-fluid{
  display: block;
  flex-wrap: nowrap;
}






