<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mutual Fund</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="wallet">wallet details</a>
                  </li>
                 </ul>
                 <li class="nav-item"><a   routerLink="wishlist" href="#">
                    <i class="fa-solid fa-heart-circle-plus" style="color: #256de9; margin-right: 150px;"></i>
                </a>
                  </li>
                 </div>
    </div>
 
    </nav>
    
<!-- <div>
    <div class="card" style="width:18rem;">
        <img src="\assets\del30v1k.png" class="card-img-top" alt="">
        <div class="card-body">

        </div>
        <div class="card-body">
            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col">
                        <button class="btn btn-outline-primary" >Add To wishlist</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary" >Invest Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
</body>
</html>
