/* .login{
    position: absolute;
    top: 8px;
    right: 20px;
}

.signUP{
    position: absolute;
    top: 8px;
    right: 80px;
}

.image1{
    position: absolute;
    top: 80px;
    left: -300px;
} */
.navbar {
    background-color: #060808;
    
}

