<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h2>All Transaction</h2>
    <table>
    <th>Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Amount</th>
            <tr>
            <td>14 <br> May</td>
            <td>HDFC BANK <br> Withdrw to bank account</td>
            <td>success</td>
            <td>456</td>
        </tr>
        <tr>
            <td>20 <br> May</td>
            <td>ICICI pvt.Ltd <br> Payment Received</td>
            <td>success</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>20 <br> May</td>
            <td>ICICI pvt.Ltd <br> Payment Received</td>
            <td>success</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>20 <br> May</td>
            <td>ICICI pvt.Ltd <br> Payment Received</td>
            <td>success</td>
            <td>1000</td>
        </tr>
    </table>
</div>
</body>
</html>
