<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <h2>All Transaction</h2>

      <table class="pt-3">
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Amount</th>

        <tr *ngFor="let data of history">
          <!-- <div"> -->
          <td>
            {{ data.transactionDate }}
          </td>
          <td>
            <!-- HDFC BANK <br /> -->
            {{data.transactionTypeId ===1 ? 'Payment received':'withdraw'}}
          </td>
          <td>success</td>
          <td>{{ data.walletAmount }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
