<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid" style="width: 58rem;
    margin-left: 10px;">
      <h2>Top 5 Mutual fund</h2>
      <div class="row">
        <ng-container *ngFor="let detail of detailList; let i = index">
        
          <div
            class="card cardform"
            routerLink="allfundsdetail/{{ detail.schemaId }}"
          >
            <img src="assets\icici.webp" style="width: 32px;
            height: 31px;" alt="" />
           
            <p class="fund">{{ detail.fundHouse }}</p>
            <p>{{ detail.delta }}%</p>
          </div>
         
        </ng-container>
      </div>
    </div>
    <div class="container-fluid" style="width: 58rem;
    margin-left: 10px;">
      <h2>Bottom 5 Mutual fund</h2>
      <div class="row">
        <ng-container *ngFor="let detail of allBottomDetail">
        
          <div
            class="card cardform"
            [routerLink]="'allfundsdetail/' + detail.schemaId"
          >
            <img src="assets\icici.webp" style="width: 32px;
            height: 31px;" alt="" />
            <p class="fund">{{ detail.fundHouse }}</p>
            <p>{{ detail.delta }}%</p>
          </div>
         
        </ng-container>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: -356px;">
        <div class="card cardform1">
            <img src="assets\explore_mutual.jpg" alt="">
            <div class="card-body">
                <h3 class="card-title">New to Mutual fund</h3>
                <div>Start exploring mutual funds to begin your investment journey</div>
                <div>
                    <button type="button" class="btn">Explore more about mutual fund</button>
                </div>
            </div>
        </div>
    </div>

   
  </body>
</html>
