<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="row">
        <p>INR BALANCE</p>

        <div class="col-sm-9 bg-light p-5 border">
          Balance Available
          <br />
          <i>₹</i>
          {{ wallet.balance }}
        </div>
        <div class="col-md-9 bg-white p-4 border" position:absoulute>
          Used for stock
          <i style="margin-left: 400px">₹</i>
          <span style="margin-left: 10px; margin-top: -50px">0.00</span>
        </div>

        <div class="col-md-9 bg-white p-4 border transaction_btn">
          <div (click)="showTransaction()">All Transaction</div>

          <div class="arrow_icon"><i>→</i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
      <div class="container-fluid justify-content-center align-items-center">
        <div class="row btn2">
          
            <div
              class="d-flex flex-row justify-content-between align-items-center"
            >
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="showDeposit()"
                style="margin-left: 74px;
                margin-right: -124px;"
              >
                Deposit
              </button>
            
            <!-- <div class="col"> -->
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="showWithdraw()"
                style="margin-left: 200px;"
              >
                Withdraw
              </button>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div *ngIf="showDepositCard">
        <div class="container-fluid">
          <app-deposit-page></app-deposit-page>
        </div>
      </div>
      <div *ngIf="showWithdrawCard">
        <app-withdraw-page></app-withdraw-page>
      </div>
    </div>

    <div class="container-fluid">
      <div *ngIf="showTransactionList">
        <app-transaction-page></app-transaction-page>
      </div>
    </div>
  </body>
</html>
