<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid">
       
    <div class="row">
        <p>INR BALANCE</p>
        
<div class="col-sm-9 bg-light p-5 border">
    Balance Available
    <br>
    <i class="fa-solid fa-indian-rupee-sign"></i>
    0.00
    <!-- <a class="btn btn-outline-primary add_money" href="#" routerLink="deposit">Add Money</a> -->
</div>
<div class="col-md-9 bg-white p-4 border" position:absoulute>
      Used for stock
    <i class="fa-solid fa-indian-rupee-sign" style="margin-left: 400px;"></i>
    <span style="margin-left: 10px; margin-top:-50px;">0.00</span>
    </div>

<!-- <div class="col-md-9 bg-white p-4 border">
    <a class="btn" href="#" routerLink="withdraw">withdraw</a>
 </div> -->
 <div class="col-md-9 bg-white p-4 border transaction_btn">
    <div  (click)="showTransaction()"> All Transaction</div>
   <!-- <a class="btn" href="#" (click)="showTransaction()">All Transaction</a> -->
   <div class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></div>
 </div>
 
</div>

<div class="container-fluid">
    <div class="row align-items-center btn2">
        <div class="col">
       <button type="button" class="btn btn-outline-primary" (click)="showDeposit()" style="margin-left: 60px;">Deposit</button>
    </div>
    <div class="col">
       <button type="button" class="btn btn-outline-primary" (click)="showWithdraw()" style="margin-left: 165px;
       margin-top: -37px;">Withdraw</button>
    </div>
       
    </div>
</div>

<div *ngIf="showDepositCard">
    <div class="container-fluid" >
    <app-deposit-page></app-deposit-page>
</div>
</div>
<div *ngIf="showWithdrawCard">
    <app-withdraw-page></app-withdraw-page>
</div>
</div>

<div class="container-fluid">
<div *ngIf="showTransactionList">
    <app-transaction-page></app-transaction-page>
</div>
</div>

    
    
        
            
       
   
    
        
   
    <!-- <div class="row">
        <div class="col-md-8"> -->
            
            
</body>
</html>
