<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <!-- <div class="row justify-content-start"> -->
        <div class="d-flex p-2 mt-5">INR BALANCE</div>

        <div class="col-6 bg-light p-5  border">
          Balance Available
          <br />
          <i>₹</i>
          {{ wallet.balance }}
        </div>
        <div class="col-6 bg-white p-4 border d-flex flex-row justify-content-between">
          Used for stock
          <i class="icon" style="text-align: left;">₹0.00</i>

        </div>

        <div class="col-6 bg-white p-4 border transaction_btn">
          <div (click)="showTransaction()">All Transaction</div>

          <div class="arrow_icon"><i>→</i></div>
        </div>
      <!-- </div> -->
      <div class="col-lg-4 col-md-4">
      <div class="container-fluid justify-content-center align-items-center">
        <div class="row btn2">

            <div
              class="d-flex flex-row justify-content-between align-items-center"
            >
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="showDeposit()"
                style="margin-left: 74px;
                margin-right: -124px;"
              >
                Deposit
              </button>

            <!-- <div class="col"> -->
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="showWithdraw()"
                style="margin-left: 200px;"
              >
                Withdraw
              </button>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div *ngIf="showDepositCard">
        <!-- <div class="container-fluid"> -->
          <app-deposit-page class="d-flex flex-row justify-content-center"></app-deposit-page>
        <!-- </div> -->
      </div>
      <div *ngIf="showWithdrawCard">
        <app-withdraw-page class=" d-flex flex-row justify-content-center"></app-withdraw-page>
      </div>
    </div>

    <div class="container-fluid">
      <div *ngIf="showTransactionList">
        <app-transaction-page></app-transaction-page>
      </div>
    </div>
  </body>
</html>
