/* .arrow_icon{
    text-align: right;
}

.row{
    display: flex;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 350px;
    margin-top: 80px;
} */
/* .btn{
    margin-left: 500px
} */

/* .add_money{
    display: flex;
    margin-left: 500px;
    text-align: left;

} */

/* .fluid-container{
    left: 10%;
    position: relative;
    top: 0px;
    bottom: 0px;
    align-items: top;

} */

/* .btn2{
    position: relative;
    margin-left: 550px;
    margin-right: 0px;
    margin-top: 30px;

    top: -410px;


} */
.transaction_btn{
    cursor: pointer;
}
.icon .mt-n1 {
  margin-left: -0.25rem !important;
}



.btn-outline-primary, .btn{
  outline-color: teal;
  border-color: teal;
  color: teal;
}
.btn:hover{
  background-color: teal;
  color: #fff;
}
.btn:focus:not(:hover){
  color: teal;
}

.btn-outline-primary:active{
  background-color: teal;
  color: #fff;
}
.btn-outline-primary:focus{
  background-color: teal;
  color: #fff;
}
.btn:active{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn:focus{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}

    /* position: relative;
    margin-left: 550px;
    margin-right: 0px;
    margin-top: 30px; */
    /* left: 200px; */
    /* top: -410px; */




