<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loginpage">
        <div class="container">
    <div class="container-fluid">
    <Form class="loginshadow">
        <h2 class="signtext">Sign In</h2>
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Enter your username!" name="username">
        </div>

        <div class="mb-3 mt-3">
            <label for="password" class="form-label"> Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter the password!" name="password">
        </div>

        <div class="mb-3 mt-3">
            <button type="button" class="btn btn-secondary">Login</button>
        </div>
    </Form>
</div>
</div> 
</div>
</body>
</html>