<div class="container mt-3" style="width: 600px;">
  <div class="row">
    <div class="col-md-12 offset-md-3">
      <div class="position-relative">
        <input
        style="width:100%;"
          type="text"
          class="form-control"
          placeholder="Search..."
          (keyup)="onKeyUp($event)"
          #inputRef
        />
        <div
          class="list-group mt-2 position-absolute w-100"
          *ngIf="searchValue && results.length > 0"
          style="z-index: 1000;"
        >
          <button
            type="button"
            class="list-group-item list-group-item-action"
            *ngFor="let result of results"
          >
            <a
              class="text-decoration-none"


              [routerLink]="'dashboard/allfundsdetail/' + result.schemaId"
            >
            <!-- [routerLink]="'/homepage/mutual-funds/' + result.schemaId" -->




              {{ result.schemaName }} {{ result.schemaCategory }}
              {{ result.fundHouse }}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
