.c2{

    margin-left: 50px;
    
    }
    
    /* .form-select form-select-lg mb-3{
    
        padding-right: 100px;
    
    } */
    
    
    
    
    .form-sip{
    
    padding-top: 10px;
    
    }
    
    