<app-navbar></app-navbar>
<div class="container">
  <form class="c4">
    <h2 style="margin-top: 40px; margin-bottom: 30px">
      <p>Create a SIP Order</p>
    </h2>
    <h3>
      <p>How much do you want to invest?</p>
    </h3>
    <div class="mb-3" style="margin-top: 30px; margin-bottom: 30px">
      <label for="disabledTextInput" class="form-label">SIP amount</label>
      <input name="amount" type="text" id="disabledTextInput" class="form-control" placeholder="1000" [(ngModel)]="amount" />
    </div>
    <div class="mb-3" style="margin-bottom: 30px; margin-top: 30px">
      <label for="disabledTextInput" class="form-label">SIP frequency</label>
      <!-- <input type="text" id="disabledTextInput" class="form-control" placeholder="1000"> -->
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="freq" [(ngModel)]="freq">
        <option selected>Select SIP frequency</option>
        <option value="Daily">Daily</option>
        <option value="Weakly">Weakly</option>
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
      </select>
    </div>
    <div style="margin-bottom: 30px; margin-top: 30px">
      <label for="disabledTextInput" class="form-label" style="width: 50%">SIP date</label>
      <input type="date" class="form-control" placeholder="date" aria-label="Server" name="orderDate" [(ngModel)]="orderDate" />
    </div>
    <!--------------checkboxxx-------------------------------------------->
    <div class="form-check" style="margin-top: 30px; margin-bottom: 30px">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">
        Step Up
      </label>
    </div>
    <!--- -------- continue button --------------------------------------------->
    <div style="margin-bottom: 90px">
      <button (click)="continue()" type="button" class="btn btn-info" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Continue</button>
    </div>
  </form>
  <!-- <button >
        Launch demo modal
      </button> -->

  <!-- Modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Continue</button> -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div *ngIf="success" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment successful!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          you're order is successfully placed
        </div>
        <div class="modal-footer">
          <button id="modalclose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
      <div *ngIf="!success" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Name :-</th>
                <td>{{fundDetails.schemaName}}</td>
              </tr>
              <tr>
                <th>Fund House :-</th>
                <td>{{fundDetails.fundHouse}}</td>
              </tr>
              <tr>
                <th>Sip-Frequency :-</th>
                <td>{{freq}}</td>
              </tr>
              <tr>
                <th>Date :-</th>
                <td>{{orderDate}}</td>
              </tr>
              <tr>
                <th>Unit :-</th>
                <td>{{unit}}</td>
              </tr>
              <tr>
                <th>Amount :-</th>
                <td>$ {{amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="buymethod()" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Proceed</button>
        </div>
      </div>
    </div>
  </div>
  <!-----------------------------------------------Here Ends FAQ -------------------------------------------->
</div>