/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
  color: #fff;
}
/* .btn:hover{
  color: #fff;
} */
.btn-outline-primary{
  outline-color: teal;
  border-color: teal;
  color: teal;
}
.btn:active{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn:focus{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn-lg:active{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn-lg:focus{
  outline-color: teal;
  border-color: teal;
  color: #fff;
  box-shadow:  0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn-primary:active{
  outline-color: teal;
  border-color: teal;
  box-shadow: 0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}
.btn-block:active{
  outline-color: teal;
  border-color: teal;
  box-shadow: 0 0 0 0.25rem rgba(0, 128, 128, 0.596);

}

.form-control:focus{
  border-color:teal;
  box-shadow: 2px 2px 2px 3px rgba(0, 128, 128, 0.596),-2px -2px 2px 3px rgba(0, 128, 128, 0.596);
}
