<div class="back">
  <div
    class="container height-100 d-flex justify-content-center align-items-center"
  >
    <div class="position-relative">
      <div class="card p-2 text-center">
        <h6>
          Please enter the one time password <br />
          to verify your account
        </h6>
        <div>
          <span>A code has been sent to </span> <small>{{ email }}</small>
        </div>
        <div
          id="otp"
          class="inputs d-flex flex-row justify-content-center mt-2"
        >
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="first"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="second"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="third"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="fourth"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="fifth"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="sixth"
            maxlength="1"
          />
        </div>
        <div class="mt-4">
          <button (click)="submitOTP()" class="btn btn-success px-4 validate">
            Validate
          </button>
        </div>
        <div class="">
          <div class="content d-flex justify-content-center align-items-center">
            <span>Didn't get the code</span>
            <a
              style="cursor: pointer"
              class="text-decoration-none ms-3"
              (click)="resendOtp()"
              (click)="startCountdown()"
              >Resend</a
            >
          </div>
          <div *ngIf="showTimer"><p> Otp will expire in {{ remainingTime }} seconds</p></div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card" style="width: 18rem; height: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">Varify Otp</h5>
        <form [formGroup]="varifyOtp">


          <div class="form-group">
            <label for="otp">Enter Otp</label>
            <br>
            <input
              type="text"
              class="form-control"
              id="otp"
              placeholder="enter the otp!"
              formControlName="otp"

            />
          </div>
          <button type="button"
          class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto"
          style="margin-top: 7rem;"
          routerLink="varifyotp"
          >Submit</button>

        </form>

      </div>

    </div>
  </div>

</body>
</html> -->
