<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="d-flex">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h3 class="card-title">Deposit</h3>
        <div class="input-container">
          <label for="amount">Add Money</label>

          <i
            style="margin-left: 95px"
          >₹</i>
          <input
            type="number"
            class="input-icon"
            id="amount"
            name="amount"
            placeholder="0"
            style="
              margin-left: 2px;
              width: 70px;
              border: 0px;
              margin-top: -22px;
              outline: none;
              text-align: right;

            "
           [(ngModel)]="add_balance"
          />
        </div>
        <div class="text-container">
          <span>Pay Using</span>
          <a style="margin-left: 100px">More Options</a>
        </div>
        <button class="btn btn-outline-primary deposit_btn" (click)="addMoneyToWallet()" (click)="transactionHistory()">Add Money</button>
      </div>
    </div>
  </div>
  </body>
</html>
