/* .container {
  width: 50rem;
} */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid black;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

p {
  margin: 0.5rem 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.text-center{
    margin-top: -21px;
}
.payvai{
    margin-left: 160px;
    background-color: rgb(198, 206, 214);
    cursor: pointer;
    padding-top: -10px;
}
.btn{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff
    }
    .btn:hover::before{
        content: '';
        width: 0;
        height: 3em;
        border-radius: 30em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #0fd850 0%,#f9f047 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;

    }
    .btn:hover::before{
        width: 9em;
    }
    .upi{
        /* text-align: right; */
        width: 130px;
        height: 40px;
        margin-left: 100px;
        margin-top: 30px;
        border: none;
        outline: none;
        background-color: #80ffd4;

    }
    .upibtn{
        margin-top: 17px;
        margin-left: 86px;
    }
