<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div *ngIf="showMonthlySip"> -->
    <div class="container">
      <div class="row" style="padding-bottom: 5rem">
        <div class="col-lg-8 col-md-8">
          <div
            class="container-fluid"
            justify-content-center
            align-items-center
          >
            <div style="margin: 1rem; width: 40rem">
              <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
            </div>
            <table>
              <thead>
                <th>FundHouse</th>
                <th>Price</th>
                <th>Delta</th>
                <th>Category</th>
              </thead>
              <!-- <ng-container *ngFor="let list of allTopfundDetail">
          -->
              <tr>
                <td>{{ fundDetail?.fundHouse }}</td>
                <td>{{ fundDetail?.currentPrice }}</td>
                <td>{{ fundDetail?.delta }}</td>
                <td>{{ fundDetail?.description }}</td>
              </tr>

              <!-- </ng-container> -->
            </table>
            <p>NAV:{{ fundDetail?.currentPrice }}</p>
            <p>Min.SIP amount:5000</p>
            <p>Fund Size:10000Cr</p>
            <p>Rating:5⭐</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div
            class="container-fluid justify-content-center align-items-center"
            style="padding: 1rem 0.5rem"
          >
            <div class="d-flex justify-content-between align-items-center mb-4">
              <button type="button" class="btn" (click)="showMonthlySip()" routerLink="sip">
              SIP
              </button>
              <button type="button" class="btn" (click)="showOneTime()" routerLink="buying">
              Lumsump
              </button>
             
            </div>
            <div class="fav">
              <a [routerLink]="'/dashboard/allfundsdetail/'+id+'/wishlist/wishlist-page'"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="blue" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg></a>


            </div>
            <div
              class="container-fluid justify-content-center align-items-center"
              style="max-width: 30rem"
            >

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
